.kartinka {
}

.fon {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

h1 {
  margin-top: -600px;
  text-align: center;
  font-size: 42px;
  color: rgb(202, 107, 123);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
a{
  text-decoration: none;
}

.start-button {
  display: block;
  text-align: center;
  color: #ff00cc;
  font-size: 30px;
  text-decoration: none;
  margin: 20px auto;
  padding: 10px 20px;
  border: 2px solid #ff00cc;
  border-radius: 5px;
  width: 150px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.start-button:hover {
  color: #b540cf;
}

.lo {
  margin: 0 auto;
  height: auto;
}
.pi {
  margin: 20px auto;
  width: 360px;
  margin-left: 50px;
  height: auto;
}

.pa {
  margin: 0 auto;
  height: auto;
  margin: 20px;
  margin-top: -230px;
  width: 300px;
  margin-right: -100px;
}

